#include <cstdio>
#include <chrono>
#include <thread>
#include <glad/glad.h>
#define GLFW_INCLUDE_NONE
#include <GLFW/glfw3.h>

#include "Scene/SceneManager.hpp"

int main(int argc, char **argv)
{
  EntityManager *entity_manager = nullptr;
  ComponentManager *component_manager = nullptr;
  Entity entity = 0;
  Signature signature = 0;
  {% for scene in scenes %}
  Scene scene_{{ loop.index0 }}({{ loop.index0 }});
  entity_manager = scene_{{ loop.index0 }}.getEntityManager();
  component_manager = scene_{{ loop.index0 }}.getComponentManager();
  {% for entity in scene["Entities"]%}
  entity = entity_manager->createEntity();
  signature = 0;
  
  {% for component in entity["Components"]%}
  signature |= {{ component|upper }}_SIGNATURE_MASK;
  {{ component }} {{ component|lower }};
  {%- for parameter in entity["Components"][component] %}
  {{ component|lower }}.{{ parameter }} = {{ entity["Components"][component][parameter] }};
  {%- endfor %}
  component_manager->addComponent(entity, {{ component|lower }});
  {% endfor %}
  
  entity_manager->setSignature(entity, signature);
  {% endfor %}
  SceneManager::getSceneManager()->addScene(&scene_{{ loop.index0 }});
  {% endfor %}

  GLFWwindow *window;

  // Initialize the library
  if (!glfwInit())
    return -1;

  // Create a windowed mode window and its OpenGL context
  window = glfwCreateWindow({{ project_info["WindowParameters"]["SizeX"] }}, {{ project_info["WindowParameters"]["SizeY"] }}, "{{ project_info["ProjectName"] }}", nullptr, nullptr);
  if (!window)
  {
    glfwTerminate();
    return -1;
  }

  // Make the window's context current
  glfwMakeContextCurrent(window);
  gladLoadGLLoader((GLADloadproc)glfwGetProcAddress);

  // Setup timing information
  std::chrono::time_point<std::chrono::system_clock> current_time = std::chrono::system_clock::now();
  std::chrono::time_point<std::chrono::system_clock> previous_time = current_time;
  unsigned long frame_rate = 60;
  std::chrono::seconds delta_time(1 / frame_rate);

  // Loop until the user closes the window
  while (!glfwWindowShouldClose(window))
  {
    current_time = std::chrono::system_clock::now();
    std::chrono::milliseconds dt = std::chrono::duration_cast<std::chrono::milliseconds>(current_time - previous_time);

    // Render here
    glClear(GL_COLOR_BUFFER_BIT);

    SceneManager::getSceneManager()->update(dt.count());

    // Swap front and back buffers
    glfwSwapBuffers(window);

    // Poll for and process events
    glfwPollEvents();

    previous_time = current_time;
    std::this_thread::sleep_until(current_time + delta_time);
  }

  glfwTerminate();
  return 0;
}
