cmake_minimum_required(VERSION 3.13)
project({{ project_info["ProjectName"] }})
set(CMAKE_CXX_STANDARD 14)

set(CMAKE_EXPORT_COMPILE_COMMANDS on)

find_package(glfw3 3.3 REQUIRED)
find_package(OpenGL REQUIRED)

add_library(Core STATIC IMPORTED)
set_target_properties(Core PROPERTIES
IMPORTED_LOCATION "{{ project_info["CoreBuildDir"] }}/libCore.a")

add_executable({{ project_info["ProjectName"] }} main.cpp)

target_include_directories({{ project_info["ProjectName"] }} PUBLIC
"{{ project_info["CoreSrcDir"]}}/../../glad/include/"
"{{ project_info["CoreSrcDir"] }}"
"{{ project_info["CoreSrcDir"] }}/Entity")

target_link_libraries({{ project_info["ProjectName"] }} Core glfw)