#ifndef SIGNATURE_HPP
#define SIGNATURE_HPP

using Signature = unsigned long;

{% for component in component_signature_masks %}
const unsigned long {{ component|upper }}_SIGNATURE_MASK = {{ component_signature_masks[component] }};
{%- endfor %}

#endif // SIGNATURE_HPP