#include "SystemManager.hpp"

{% for system in systems_model %}
template<>
void SystemManager::addEntity<{{ system }}System>(Entity entity)
{
  m_{{ system|lower }}_system.addEntity(entity);
}

template<>
void SystemManager::removeEntity<{{ system }}System>(Entity entity)
{
  m_{{ system|lower }}_system.removeEntity(entity);
}
{% endfor %}