#ifndef {{ system|upper }}_SYSTEM_HPP
#define {{ system|upper }}_SYSTEM_HPP

#include "ISystem.hpp"

class {{ system }}System : public ISystem
{
public:
  {{ system }}System() : ISystem({% for component in components["Components"] %}{{ component|upper }}_SIGNATURE_MASK{% if not loop.last %} | {% endif %}
                                 {% endfor %})
  {
  }
  void init() final;
  void update(const Time dt_ms) final;
};

#endif // {{ system|upper }}_SYSTEM_HPP