#ifndef SYSTEM_MANAGER_HPP
#define SYSTEM_MANAGER_HPP
{% for system in systems_model %}
#include "{{ system }}System.hpp"
{%- endfor %}

class SystemManager
{
public:
  {% for system in systems_model %}
  void add{{ system }}SystemEntity(Entity entity);
  void remove{{ system }}SystemEntity(Entity entity);
  {% endfor %}

  void update(const Time dt_ms)
  {
    {%- for system in systems_model %}
    m_{{ system|lower }}_system.update(dt_ms);
    {%- endfor %}
  }

  void entityDestroyed(Entity entity)
  {
    {%- for system in systems_model %}
    m_{{ system|lower }}_system.removeEntity(entity);
    {%- endfor %}
  }
private:
  {%- for system in systems_model %}
  {{ system }}System m_{{ system|lower }}_system;
  {%- endfor %}
};

#endif // SYSTEM_MANAGER_HPP