#include "{{ system }}System.hpp"
#include "Scene/SceneManager.hpp"

{%- for component in components["Components"] %}
#include "Component/{{ component }}.hpp"
{%- endfor %}

void {{ system }}System::init()
{
  // TODO: implement
}

void {{ system }}System::update(const Time dt_ms)
{
  // TODO: implement
}